/* Base */

* {
    box-sizing: content-box;
}

/* Header ir Navigation */

header {
    text-align: center;
    margin:auto;
    width: 100%;
    min-height: 91px; 
    background-color: #FFF2F3;
}

header .logo {
    display: inline-flex;
    padding: 13px 87px 13px 0px;
    align-items: center; 
    color: #252B42;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px; 
}

header .header-container {
    margin:0 auto;
    max-width: 100%;
    min-height: 92px;
    text-align: center;
    display: inline-block;
}

header nav {
    width: 815px;
    display: inline-flex;
    padding: 3px 0px;
    justify-content: center;
    align-items: center;
    gap: 240px; 
}

header nav ul {
    display: inline-flex;
    padding: 3px 0px;
}

header nav ul li {
    list-style:none;
    margin:10px;
}


header a {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.2px; 
    text-decoration: none;
    color: #737373;
    text-align: center; 
}

header .login {
    width: 300px;
    display: flex;
    padding: 15px 25px;
    align-items: center;
    gap: 15px;
}

header .login-btn {
    display:flex;
    color:#96BB7C;
    padding-right:45px;
}

.join-btn {
    padding:15px 25px;
    color:white;
    border-radius: 5px;
    background: var(--primary-color, #96BB7C); 
}

.login .arrow {
    padding-left:5px;
}


/* Main blokas */

main {
    background-color: #FFF2F3;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}


.row-one {
    margin:auto;
    padding: 100px 200px 200px 200px; 
    display: inline-block;
    width: 50%;
    align-items: center;
    gap: 30px;
}

.row-two {
    float:right;
    width: 50%;
}

main h1 {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 137.931% */
    letter-spacing: 0.2px; 
}

.hello {
    color: var(--primary-color, #96BB7C);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px; 
}

main h4 {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}

/* Main buttons */

main .buttons {
    display: inline-flex;
}

main .join-btn2 {
    display: flex;
    padding: 15px 40px;
    margin-right:10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--primary-color, #96BB7C);
    color:white;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: 0.2px;
    
}

main .learn-btn {
    text-decoration: none;
    display: flex;
    padding: 15px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--primary-color, #96BB7C);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.2px;
    border-radius: 5px;
    border: 1px solid var(--primary-color, #96BB7C);
}

main .learn-btn:hover {
    text-decoration: none;
    background-color:#96BB7C;
    color:white;
    border: 1px solid var(--primary-color, #96BB7C);
}

main .join-btn2:hover {
    text-decoration: none;
    background-color:white;
    color:#96BB7C;
    border: 1px solid var(--primary-color, #96BB7C);
}
